#header {
    font-family: 'Coiny', cursive;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

.jumbotron {
    background-image: url("../img/burger-jumbotron.jpeg");

}

.display-3,.lead {
    color: white;
    font-weight: bold;
}

#container {
    background-color: limegreen;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: darkcyan;
}

a:hover {
   font-weight: bold;
}
