body {
    font-family: 'Permanent Marker', cursive !important;
}

#header {
    font-family: 'Coiny', cursive;
    background-color: lightblue;
}

.slogan {
    font-style: italic;
    text-align: center;
}

h1 {
    text-align: center;
}

noscript {
    color: red;
    text-align: center;
}

.carousel-contrainer {
    background-color: limegreen;
}

#image {
    padding-top: 25px;
    text-align: center;
}

.card {
    margin-bottom: 50px;
}

.jumbotron {
    background-image: url("../img/burger-jumbotron.jpeg");

}

.display-3,.lead {
    color: white;
    font-weight: bold;
}

#container {
    margin-top:25px;
    background-color: limegreen;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: darkcyan;
}

a:hover {
   font-weight: bold;
}

footer {
    padding-top: 25px;
    text-align: center;
}